*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: orange;
  overflow: hidden;
}
 div.content{
  position: relative;
  width: 90%;
  height: 280px;
  top: 30px;
  left: 75px;
  border: 3px;
  border-style: solid;
}
div.first{
  position: absolute;
  top: 10px;
  left: 8px;
  width: 30%;
  height: 250px;
  background-color: powderblue;
}
#f{
  float: right;
  background-color: blue;
  width: 80px;
  height: 20px;
 text-align: center;
  color: yellow;
}
#first{
  width-fit: content;
  height-fit: content;
color: #000;
text-align: center;
padding-top: 50px;
padding-right: 5px;
padding-left: 5px;
}
div.second{
  position: absolute;
  top: 10px;
  left: 34.5%;
  width: 30%;
  height: 250px;
  background-color: powderblue;
}
#s{
  float: right;
  color: yellow;
  background-color: blue;
  width: 80px;
  height: 20px;
 text-align: center;

}
#second{
  width-fit: content;
  height-fit: content;
color: #000;
text-align: center;
padding-top: 50px;
padding-right: 5px;
padding-left: 5px;
}
div.third{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30%;
  height: 250px;
  background-color: powderblue;
}
#t{
  float: right;
  color: yellow;
  background-color: blue;
  width: 80px;
  height: 20px;
 text-align: center;
}
#third{
  width-fit: content;
  height-fit: content;
color: #000;
text-align: center;
padding-top: 50px;
padding-right: 5px;
padding-left: 5px;
}
@media(min-width: 992px) and (max-width: 1199px){
  div.content{
   position: relative;
   height: 300px;
 }
  div.first, div.second, div.third{
    position: absolute;
    width: 280px;
    height: 270px;
  text-align: center;
  }
  #first, #second, #third{
      width-fit: content;
      height-fit: content;
    color: #000;
    text-align: center;
    padding-top: 29px;
    font-size: 0.9em;
  }
  }
  @media(min-width: 768px) and (max-width: 991px){
    div.content{
     position: relative;
     left: 4%;
     height: 294px;
   }
    div.first, div.second{
      position: absolute;
      width: 48%;
      height: 155px;
     text-align: center;

    }
    div.second{
      top: 10px;
      left: 51%;
    }
    div.third{
      position: absolute;
      top: 173px;
      left: 9px;
      width: 97.9%;
      height: 100px;
    }
    #first, #second, #third{
      color: #000;
      text-align: center;
      padding-top: 29px;
      font-size: 0.8em;
    }
    #f, #s,#t{
      width: 60px;
      font-size: 0.8em;
      padding-top: 3px;
    }
  }
@media (min-width: 601px) and (max-width: 767px){
  div.content{
   position: relative;
   left: 4%;
   height: 380px;
 }
 div.first{
   position: absolute;
   top: 10px;
   left: 8px;
   height: 25%;
   background-color: powderblue;
   width: 97%;

 }
 #first{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
 div.second{
   position: absolute;
   top: 135px;
   left: 8px;
  height: 25%;
   background-color: powderblue;
   width: 97%;

 }
 #second{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
 div.third{
   position: absolute;
   top: 260px;
   left: 8px;
   height: 25%;
   background-color: powderblue;
    width: 97%;

 }
 #third{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
#first, #second, #third{
  color: #000;
  text-align: center;
  padding-top: 29px;
  font-size: 0.7em;
}
#f, #s,#t{
  width: 40px;
  font-size: 0.6em;
  padding-top: 2px;
}
}
@media(max-width: 600px){
  div.content{
   position: relative;
   left: 4%;
   height: 400px;
 }
 div.first{
   position: absolute;
   top: 10px;
   left: 8px;
   height: 30%;
   background-color: powderblue;
   width: 97%;

 }
 #first{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
 div.second{
   position: absolute;
   top: 138px;
   left: 8px;
  height: 30%;
   background-color: powderblue;
   width: 97%;
 }

 #second{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
 div.third{
   position: absolute;
   top: 266px;
   left: 8px;
   height: 30%;
   background-color: powderblue;
    width: 97%;
 }

 #third{
 color: #000;
 text-align: center;
 padding-top: 50px;
 padding-right: 5px;
 padding-left: 5px;
 }
#first, #second, #third{
  color: #000;
  text-align: center;
  padding-top: 17px;
  font-size: 0.6em;
}
#f, #s,#t{
  width: 40px;
  font-size: 0.6em;
  padding-top: 2px;
  height: 15px;
}
}
